*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../assets/back.PNG);
    background-size: cover;
     height:100vh; 
    justify-content: center;
    
}
/* navigation bar styling */
.nav-bar{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex:1 1 200px; */
}
/* .logo{
     margin-left:20px;
     margin-right: 950px; 
    margin-top:20px; 
} */
.logo img{
height:8vh;
width:20vh;
}
.nav-menu{
   display: flex;
   flex-direction: row;
    /* flex-wrap: wrap; */
    padding: 15px;
    /* flex:1 1 200px; */
  
   
}
.nav-menu a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;

}

/* Content styling */
.header{
    display: flex;
    flex-direction: column;
     flex-wrap: wrap;
     justify-content: center; 
    /* align-items: center;  */
    /* height:100vh;  */
       width:40vw;    
       /* margin-left: 400px;   */
     /* margin-top: 80px;  */
     /* border-radius: 10px 10px solid #fff; */
     background-color: #fff; 
     border: 2px solid black; 
     border-radius: 20px;
     margin:0 auto;
     /* flex:1 1 200px; */
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center; 
    width:40vw;
   
}
h1{
      
     /* width:100vw;  */
    /* margin: 10px; */
    background-color:  rgb(235, 202, 163);
    border-radius: 20px;

    /* width: 390px;  */
    /* flex:1 1 200px; */
    font-size:25px; 
    
}

.forms{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
     justify-content: center;
     text-align: center;
     /* padding-top: 20px;
     
    margin:20px; */
    /* flex:1 1 200px; */
     
}
.form{
    margin-top: 20px;
    /* flex: 1 1 30px; */
    height: 8vh;
    width:  20vw; 
     border: solid 2px  rgb(235, 202, 163);;
     border-radius: 20px;
     /* text-align: center; */
    
}
.formb{
    margin-top: 20px;
    /* flex: 0 1 30px; */
    text-align: center;
    height: 5vh;
    width:  25vh;
    background-color:  rgb(235, 202, 163);
  /* margin-left: 150px; */
  border-radius: 20px;
}

p{
  padding-top: 15px;
    /* flex: 0 1 30px; */
    font-size: 20px;
    /* width: 500px; */
    margin-bottom: 0px;
}
a{
    text-decoration: none;
}


    
