*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(/UI/Asset/imag/back1.jpg)
    
}
/* navigation bar styling */
.nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1 1 200px;
}
.logo{
    margin-left:20px;
    margin-right: 950px;
    margin-top:20px;
}
.logo img{
height:8vh;
width:20vh;
}
.nav-menu{
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    flex:1 1 200px;
  
   
}
.nav-menu a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;

}

/* Content styling */

.titles{
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    margin-top: 50px;
    background-color: skyblue;
     width: 100%;
    flex:1 1 200px;
    margin-left:0px;
    
}

.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
     width:80vw;
     margin-left: 100px; 
     margin-top: 80px;
     border-radius: 10px 10px solid #fff;
     background-color: #fff; 
     border: 2px solid black; 
     border-radius: 20px;
     flex:1 1 200px;
}


.forms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     padding-top: 20px;
    margin:20px;
    flex:1 1 200px;
     
}
h2{
    color: navy;
   
}
.number{
    margin-left: 30px;
}

.date{
    margin-left: 100px;
    
}
.title{
    margin-left: 150px;
}
.entry{
    margin-left: 250px;
}
